// This file controls all base font styles for our plugin. All font styles should
// be defined in _typography.scss. This allows us to at a glance determine global
// font styles of our plugin and prevents arbitrary font style assignment.
// Do not use the base plugin font stlyes in the scss partial files! Set up your
// plugin's base font stlyes and then use scoped font values in your Sass partials.

// Global Font Families
//------------------------------------------------------------------------------
$sans-serif:      Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans-serif-alt:  Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif:           Georgia, Times, 'Times New Roman', serif;
$monospace:       Consolas, Monaco, 'Andale Mono', 'DejaVu Sans Mono', monospace;

// Base Font Families
//------------------------------------------------------------------------------
$base-font-family:        $sans-serif;
$heading-font-family:     $sans-serif-alt;
$blockquote-font-family:  $serif;

// Base Font Sizes
//------------------------------------------------------------------------------
$base-font-size:       18px;
$base-line-height:     1.625;
$heading-line-height:  1.25;
$secondary-font-size:  floor(modular-scale(-1, $base-font-size, $major-second));
$site-title-font-size: floor(modular-scale(5, $base-font-size, $major-second));

// Heading Font Sizes
//------------------------------------------------------------------------------
$h1-font-size: floor(modular-scale(6, $base-font-size, $major-second));
$h2-font-size: floor(modular-scale(5, $base-font-size, $major-second));
$h3-font-size: floor(modular-scale(4, $base-font-size, $major-second));
$h4-font-size: floor(modular-scale(3, $base-font-size, $major-second));
$h5-font-size: floor(modular-scale(2, $base-font-size, $major-second));
$h6-font-size: floor(modular-scale(1, $base-font-size, $major-second));

// Title Font Sizes
//------------------------------------------------------------------------------
$loop-title-size:    $h1-font-size;
$widget-title-size:  $h6-font-size;

// Menu Font Sizes
//------------------------------------------------------------------------------
$nav-font-size:         $secondary-font-size;
$subnav-font-size:      $secondary-font-size - 2;
$pagination-font-size:  $secondary-font-size;

// Form Font Sizes
//------------------------------------------------------------------------------
$form-font-size:        $base-font-size;
$form-font-family:      $base-font-family;

// Entry Font Sizes
//------------------------------------------------------------------------------
$gallery-caption-font-size: $secondary-font-size - 2;
$wp-caption-font-size:      $secondary-font-size - 2;
